[Unit]
Description=Late Initialization for live environments
After=livesys.service
Before=display-manager.service chronyd.service
ConditionKernelCommandLine=rd.live.image

[Service]
Type=oneshot
ExecStart=/usr/libexec/livesys/livesys-late

[Install]
WantedBy=multi-user.target
